form {
    border: 3px solid #f1f1f1;
}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

.logoutButton {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
+}

/* Popup container */
.popup {
     display: inline-block;
     width: 20%;
    position: absolute;
    right: 0px;
     align: center;
 }

/* The actual popup (appears on top) */
.popup .popuptext {
     visibility: hidden;
     width: 160px;
     background-color: #555;
    color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 8px 0;
     position: absolute;
     z-index: 1;
     bottom: 125%;
     left: 50%;
     margin-left: -80px;
 }

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
     visibility: visible;
     -webkit-animation: fadeIn 1s;
     animation: fadeIn 1s;
     display: inline-block;
     width: 20%;
     position: absolute;
     right: 0px;
     align: center;
     width: 160px;
     background-color: #555;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 8px 0;
     position: absolute;
     z-index: 1;
     bottom: 125%;
     left: 50%;
     margin-left: -80px;
 }

.popup .hide {
     visibility: hidden;
     -webkit-animation: fadeOut 1s;
     animation: fadeOut 1s;
     display: inline-block;
     width: 20%;
     position: absolute;
     right: 0px;
     align: center;
     width: 160px;
     background-color: #555;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 8px 0;
     position: absolute;
     z-index: 1;
     bottom: 125%;
     left: 50%;
     margin-left: -80px;
 }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity:0 ;}