<?xml version="1.0" encoding="utf-8" ?>

<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <property name="hibernate.connection.url">jdbc:postgresql://54.224.37.210:5432/atom22_tinderdb</property>
        <property name="hibernate.connection.username">atom22</property>
        <property name="hibernate.connection.password">atom22</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <mapping class="accountserver.model.data.UserProfile" />
        <mapping class="accountserver.model.data.Token" />

    </session-factory>
</hibernate-configuration>

