:root {
    background: #336666;
}

.div_right {
    width:25%;
    float:right;

}
.chat {
    background: #99CCCC;
    font-family: "Courier New", Courier, monospace;
    padding: 7px;
}

.form {
    height: 100%;
}

.msginput {
    width: 60%;
}

.sendbutton {
    width: 15%;
}

#header {
    background: #336666;
    padding: 10px;
    padding-bottom: 0;
    padding-top:0;
}

#logout {
  background: #336666;
  padding: 10px;
}

button{
  background-color: #68b12f;
  background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
  background: -webkit-linear-gradient(top, #68b12f, #50911e);
  background: -moz-linear-gradient(top, #68b12f, #50911e);
  background: -ms-linear-gradient(top, #68b12f, #50911e);
  background: -o-linear-gradient(top, #68b12f, #50911e);
  background: linear-gradient(top, #68b12f, #50911e);
  border: 1px solid #509111;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #9fd574;
  -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
  -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
  -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
  -o-box-shadow: 0 1px 0 0 #9fd574 inset;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #396715;
  margin-top:3px;
}
button:hover {
  opacity:.85;
  cursor: pointer;
}
button:active {
border: 1px solid #20911e;
box-shadow: 0 0 10px 5px #356b0b inset;
-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
-moz-box-shadow: 0 0 10px 5px #356b0b inset;
-ms-box-shadow: 0 0 10px 5px #356b0b inset;
-o-box-shadow: 0 0 10px 5px #356b0b inset;

}
.sendbutton{
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
  }
  .sendbutton:hover {
    opacity:.85;
    cursor: pointer;
  }
  .sendbutton:active {
  border: 1px solid #20911e;
  box-shadow: 0 0 10px 5px #356b0b inset;
  -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
  -moz-box-shadow: 0 0 10px 5px #356b0b inset;
  -ms-box-shadow: 0 0 10px 5px #356b0b inset;
  -o-box-shadow: 0 0 10px 5px #356b0b inset;
  }
input{
  border-radius: 8px;
    width: 100%
}
#body {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 30px; /* Height of the footer */
}

#footer {
    padding: 10px;
    width: 100%;
    height: 30px; /* Height of the footer */
    position: absolute;
    bottom: 0px;
}

.history_container {
    text-align:left;
}

.div_history {
    width:70%;
    float:left;
    border-radius: 20px;
    text-align: center;
    position:relative;

}

.div_usr_online {
    border-radius: 20px;
    text-align: center;
}

.form_group {
    width:100%;
}

.form1 {
    height: 30%;
   }

.form2 {
    height: 70%;

}