.chat {
<<<<<<< HEAD
    background: #fafafa;
    font-family: "Courier New", Courier, monospace;
    margin: 0 0 1em;
=======
    font-family: "Courier New", Courier, monospace;
>>>>>>> 3bcd48c1d56c974e23b66197c0f922b39502cbd9
    overflow: auto;
    padding: 3rem 1.5rem;

}

.form {
    height: 85%;
}

.sendbutton {
<<<<<<< HEAD
    width: 15%;
}

#header {
    padding: 10px;
    padding-bottom: 0;
=======
    width: 100%;
>>>>>>> 3bcd48c1d56c974e23b66197c0f922b39502cbd9
}

#body {
    padding: 10px;
    padding-top: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}